In [ ]:
l1 = (23,234,234,435)

print(l1[0])

23

In [9]:
set1 = {20,"Suman",24,24}

set2={}

print(len(set2))
# To create empty set
set3 = set()


set1.add(199)

set1.remove(20)

print({"Suman"}.issubset(set1))

print(type(set1))

print(type(set2))

print(type(set3))
# Set index we can't access using index because they are in not in order

print(set1)

0
True
<class 'set'>
<class 'dict'>
<class 'set'>
{24, 'Suman', 199}

In [ ]:
set1 = {20,"Suman",24,24}

set1.add("Germany")
# set1.add([1,2,3,4])
# It will show the error because list are unhasable

set1.add({1,2,3,4})

set1.add("Germany")

print(set1)

TypeError: unhashable type: 'set'

CALCULATOR BELOW // TO EXIT ENTER: exit

In [1]:
print("S" in "Suman")

True

In [2]:
l1 = [11,1,222,2,3,3,4,222,6,6,7,11,4,6]

def find_duplicate(d1):
    duplicates = []
    c=1
    for i in d1:
        for j in d1[c:]:
            if i == j and i not in duplicates:
                duplicates.append(i)
                break
        c = c+1
    return(duplicates)

print(find_duplicate(l1))

[11, 222, 3, 4, 6]

In [ ]:
li = [11,222,3,5,6]



max  = 0
for i in li:
    if i > max:
        max= i

print(max)   


# /Write a program to check a given number is Prime

222

In [ ]:
set1= {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3 = {8,9,10,11,12}



# Set Operations
# set element which is present in A but not in B
print(set1.difference(set2))
print(set1.union(set2))
print(set1.union(["Apple","Banana"]))
print(set1.union(("Grape","Pomegranate","Watermelon")))

# Set of all elements
print(set1.union(set2).union(set3))
print(set1 | set2 | set3)
print(set1.intersection(set2))

# 
set3.update("Mango")
set3.update()


bag1 = dict([("name","Suman")])
print(bag1)
print(set3)

{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8}
{'Banana', 1, 2, 3, 4, 5, 'Apple'}
{1, 2, 3, 4, 5, 'Watermelon', 'Pomegranate', 'Grape'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{4, 5}
{'name': 'Suman'}
{'n', 'o', 8, 9, 10, 11, 12, 'M', 'g', 'a'}

In [ ]:
bag1 = {"Watermelon","Pomegranate"}
bag2 = {"Lemon","Grape","Watermelon"}
bag3 = {"Orange"}

print(bag1.union(bag1,bag2,bag3))
print(bag1 & bag2)

labels = ["spam","ham","spam"]
unique_labels = set(labels)
print(list(unique_labels))

{'Watermelon', 'Lemon', 'Orange', 'Pomegranate', 'Grape'}
{'Watermelon'}
['ham', 'spam']

In [29]:
bag1 = {"Watermelon","Pomegranate"}
bag2 = {"Lemon","Grape","Watermelon"}

print(bag1.symmetric_difference(bag2))
# Symmetric difference is not allowed in multiple set
# bag1.symmetric_difference(bag2,bag2) #Error
# bag1.intersection_update(bag2)
print(bag1^bag2)
print(bag1)

{'Grape', 'Pomegranate', 'Lemon'}
{'Grape', 'Pomegranate', 'Lemon'}
{'Watermelon', 'Pomegranate'}

```
# Dict
# # We use dictionaries in all our Python programs. If not directly in our code, then indi‐
# rectly because the dict type is a fundamental part of Python’s implementation. Class
# and instance attributes, module namespaces, and function keyword arguments are
# some of the core Python constructs represented by dictionaries in memory
```

In [31]:
dial_codes = [                                                  # <1>
    (880, 'Bangladesh'),
    (55,  'Brazil'),
    (86,  'China'),
    (91,  'India'),
    (62,  'Indonesia'),
    (81,  'Japan'),
    (234, 'Nigeria'),
    (92,  'Pakistan'),
    (7,   'Russia'),
    (1,   'United States'),
]

for i,j in dial_codes:
    print(i,j)

country_dial = {country:code for code,country in dial_codes}

880 Bangladesh
55 Brazil
86 China
91 India
62 Indonesia
81 Japan
234 Nigeria
92 Pakistan
7 Russia
1 United States

In [34]:
{code: country.upper()
for country, code in sorted(country_dial.items())
if code < 70}

{55: 'BRAZIL', 62: 'INDONESIA', 7: 'RUSSIA', 1: 'UNITED STATES'}