In [ ]:
l1 = (23,234,234,435)

print(l1[0])

23

In [9]:
set1 = {20,"Suman",24,24}

set2={}

print(len(set2))
# To create empty set
set3 = set()


set1.add(199)

set1.remove(20)

print({"Suman"}.issubset(set1))

print(type(set1))

print(type(set2))

print(type(set3))
# Set index we can't access using index because they are in not in order

print(set1)

0
True
<class 'set'>
<class 'dict'>
<class 'set'>
{24, 'Suman', 199}

In [ ]:
set1 = {20,"Suman",24,24}

set1.add("Germany")
# set1.add([1,2,3,4])
# It will show the error because list are unhasable

set1.add({1,2,3,4})

set1.add("Germany")

print(set1)

TypeError: unhashable type: 'set'

CALCULATOR BELOW // TO EXIT ENTER: exit

In [1]:
print("S" in "Suman")

True

In [2]:
l1 = [11,1,222,2,3,3,4,222,6,6,7,11,4,6]

def find_duplicate(d1):
    duplicates = []
    c=1
    for i in d1:
        for j in d1[c:]:
            if i == j and i not in duplicates:
                duplicates.append(i)
                break
        c = c+1
    return(duplicates)

print(find_duplicate(l1))

[11, 222, 3, 4, 6]

In [ ]:
li = [11,222,3,5,6]



max  = 0
for i in li:
    if i > max:
        max= i

print(max)   


# /Write a program to check a given number is Prime

222

In [ ]:
set1= {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3 = {8,9,10,11,12}



# Set Operations
# set element which is present in A but not in B
print(set1.difference(set2))
print(set1.union(set2))
print(set1.union(["Apple","Banana"]))
print(set1.union(("Grape","Pomegranate","Watermelon")))

# Set of all elements
print(set1.union(set2).union(set3))
print(set1 | set2 | set3)
print(set1.intersection(set2))

# 
set3.update("Mango")
set3.update()


bag1 = dict([("name","Suman")])
print(bag1)
print(set3)

{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8}
{'Banana', 1, 2, 3, 4, 5, 'Apple'}
{1, 2, 3, 4, 5, 'Watermelon', 'Pomegranate', 'Grape'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{4, 5}
{'name': 'Suman'}
{'n', 'o', 8, 9, 10, 11, 12, 'M', 'g', 'a'}

In [ ]:
bag1 = {"Watermelon","Pomegranate"}
bag2 = {"Lemon","Grape","Watermelon"}
bag3 = {"Orange"}

print(bag1.union(bag1,bag2,bag3))
print(bag1 & bag2)

labels = ["spam","ham","spam"]
unique_labels = set(labels)
print(list(unique_labels))

{'Watermelon', 'Lemon', 'Orange', 'Pomegranate', 'Grape'}
{'Watermelon'}
['ham', 'spam']

In [29]:
bag1 = {"Watermelon","Pomegranate"}
bag2 = {"Lemon","Grape","Watermelon"}

print(bag1.symmetric_difference(bag2))
# Symmetric difference is not allowed in multiple set
# bag1.symmetric_difference(bag2,bag2) #Error
# bag1.intersection_update(bag2)
print(bag1^bag2)
print(bag1)

{'Grape', 'Pomegranate', 'Lemon'}
{'Grape', 'Pomegranate', 'Lemon'}
{'Watermelon', 'Pomegranate'}

```
# Dict
# # We use dictionaries in all our Python programs. If not directly in our code, then indi‐
# rectly because the dict type is a fundamental part of Python’s implementation. Class
# and instance attributes, module namespaces, and function keyword arguments are
# some of the core Python constructs represented by dictionaries in memory
```

In [ ]:
dial_codes = [                                                  # <1>
    (880, 'Bangladesh'),
    (55,  'Brazil'),
    (86,  'China'),
    (91,  'India'),
    (62,  'Indonesia'),
    (81,  'Japan'),
    (234, 'Nigeria'),
    (92,  'Pakistan'),
    (7,   'Russia'),
    (1,   'United States'),
]

for i,j in dial_codes:
    print(i,j)

country_dial = {country:code for code,country in dial_codes}

880 Bangladesh
55 Brazil
86 China
91 India
62 Indonesia
81 Japan
234 Nigeria
92 Pakistan
7 Russia
1 United States

In [34]:
{code: country.upper()
for country, code in sorted(country_dial.items())
if code < 70}

{55: 'BRAZIL', 62: 'INDONESIA', 7: 'RUSSIA', 1: 'UNITED STATES'}

In [49]:
lables = ["spam","ham","spam"]

a1 = set(lables)
print(a1)

{'spam', 'ham'}

In [ ]:

#

{24, 25, 'Suman', 20}
False

In [ ]:
dict1 = dict()
dict1 = {}

# student = {"name":"Suman","age":32,"name":24}
student = {"name":"Suman","age":32}
print(student['name'])

print(student.get("lastname"))

student["DOB"]="2000-8-26"
print(student)

# Deleting 
del student["DOB"]
print(student)

# Dictionary Methods
keys = student.keys()
print(keys)
values = student.values()
print(keys)

items = student.items()
print(items)

Suman
None
{'name': 'Suman', 'age': 32, 'DOB': '2000-8-26'}
{'name': 'Suman', 'age': 32}
dict_keys(['name', 'age'])
dict_keys(['name', 'age'])
dict_items([('name', 'Suman'), ('age', 32)])

In [11]:
# d1 = dict("109"="Sagar","103"="Sachin") #Error we can't write constant

d1 = dict(name1="Sagar",name2="Sachin")

print(d1)


# It will return only key element
for i in d1:
    print(i,d1[i])

d1[132]="Ravi"
d1      

# concatinaion and Repetition Operator not supported
# comaprision Operator not supported >,<=,>=, not supported
#  ==,d1!=d2

d1.pop("name2")  #Pop will return the element
d1

d1.popitem()  #It will delete last element
d1

d3 = {a:a**2 for a in range(1,8,1)}
d3

{'name1': 'Sagar', 'name2': 'Sachin'}
name1 Sagar
name2 Sachin

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
# Funcition
# Positinal Argument
# Default Argument

def f1(a,b,c=0):
    d= a+b+c
    print("Sum is",d)


f1(23,23)

f1(2,3,4)

# Default value indicate that the function argument will take that value if no argument
# value is passed during the during the function call
# The default value is assigned by using the assignment(=) operator

# you cannot have a non-default argument after a default argument


def greet(name="Suman", age):
    print(f"Hello {name}, you are {age} years old.")

Sum is 46
Sum is 9

In [ ]:
# Positional vs Keyword argument

def f1(a,b):
    print(a,b)

f1(b=3,a=2)


f1(23,b=24)
f1(a=23,24)
# After positional argument keyword argument can come but not opposite 

# you cannot have positional arguments after keyword arguments 
# Positional argument cannot appear after keyword arguments

2 3
23 24

In [ ]:
# Default argument
# Positional argument

def power(a,b=2):
    return a**b

print(power(2))
# keyword argument
print(power(b=4,a=2))

(2, 3, 4, 5)

In [ ]:
# allows us to pass the varible number of arguments

def sum_number(*args):
    print(type(args))
    sum = 0
    for i in args:
        sum=sum+i
    return sum    

sum_number(2,3,4,5,6,7,8)

In [ ]:
# allows us to pass the varible number of keyword arguments
def user_info(**kwargs):
    print(kwargs)
    for key,val in kwargs.items():
        print(key,val)

    for key in kwargs.keys():
        print(key)

    for val in kwargs.values():
        print(val)
        
            

         
    


user_info(name="Suman Bhandari",age=23)

In [ ]:
def multiple_argu(val,*args,**kwargs):
    print(val)
    print(args)
    print(kwargs)

multiple_argu(23,34,564,34,name="Suman",age="23")

In [ ]:
x=2
def fun1(a):
    
    y=x+2
    print(y)
    return a

def fun2():
    print("This is function 2")

func = fun1(fun2)
print(func())
print(x)

In [ ]:
def say_hello(name,branch):
    print("Hello",name)


say_hello("Suman","CS")

In [ ]:
def f1(a,b,c):
    res = a+b+c
    print("Result",res)

f1(5,6)    

# You can't have a non- default argument after a default argument

Result 11

In [ ]:
def greet(name,age):
    print(f"HEllo {name} you are {age} year old")



greet("Suman",age=24)

SyntaxError: positional argument follows keyword argument (2973082923.py, line 6)

In [ ]:
def fun1(*args):
    for i in  args:
        print(i)

fun1(2,3,4,5,6,7,8,9)

2
3
4
5
6
7
8
9

In [13]:
def fun2(**kwars):
    for i in kwars.items():
        
        print(i)


fun2(name="Suman",age=24,address="Butwal")

('name', 'Suman')
('age', 24)
('address', 'Butwal')

In [ ]:
def multiple_arg(val,*args,**kwars):
    print(val)
    print(args)
    print(kwars)


multiple_arg(12,23,4,5,6,78,75,name="Suman",SurName="Bhandari")

In [19]:
d1 = {"name":"Suman","age":"24"}

d1.pop("age")

print(d1.popitem())
d1

('name', 'Suman')

{}

In [22]:
def f1():
    print("I m inside F1")


def f2(a):
    a()
    def f3():
        print("I am inside Fun3")
        def f4():
            print("I am inside fun4")
        return f4    
    print("I am Inside Fun2")
    return f3


a = f2(f1)

b= a()
b()

I m inside F1
I am Inside Fun2
I am inside Fun3
I am inside fun4

In [ ]:
import time

my_array = ["apple","banana","cherry","Mango"]


index = int(time.time())%len(my_array)

print(my_array[index])

cherry